# GitHub Pages workflow code

name: GitHub Pages # ==========================================================

on:
  push:
    branches: [ "ljz/dev" ]
    paths:
      - "docs/source/**"
      - ".github/actions/build-docs/**"
      - ".github/workflows/gh-pages.yml"
      - "!README.md" # don't rebuild on changes to the project README
  pull_request: # triggers workflow on pull request events
    branches: [ "ljz/dev" ] # ensures changes are "mergeable"

  workflow_dispatch: # permits manual triggers from the Actions tab
  # inputs:
  #   debug_enabled:
  #     description: 'Run the build with tmate debugging enabled'
  #     required: false
  #     default: false

env:
  REGISTRY: ghcr.io

jobs: # =======================================================================

  # ---------------------------------------------------------------------------
  deploy: # deploy the Read the Docs website we are using for documentation
  # ---------------------------------------------------------------------------
    runs-on: ubuntu-latest # [self-hosted, ubuntu-20.04]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - run: ls ${{ github.workspace }}
      - run: pwd ${{ github.workspace }}
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: "ljz/dev"
          path: "${{ github.workspace }}/content"
      - run: |
          ls -la ${{ github.workspace }}/content
          ls -la ${{ github.workspace }}/content/src
      
      # - run: |
      #     ls -la .
      #     ls -la /content

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: ./content/.github/actions/build-docs

      # # Enable tmate debugging of manually-triggered workflows if the input
      # # option was provided (i.e., debug_enabled=true)
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      #   # if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        # if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
          publish_branch: gh-pages

